{% raw %}
[Unit]
Description=Prometheus service with Docker
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]

# Compose up
ExecStart=docker run -p9093:9093 --net=mnetwork1 --ip="192.168.200.12" -v "/root/config.yml:/etc/alertmanager/config.yml" -v "/root/persistense/alertmanager:/opt/bitnami/data" bitnami/alertmanager

# Compose down, remove containers
ExecStop=docker ps -q  --filter ancestor=bitnami/alertmanager --format="{{.ID}}" | sudo xargs docker stop

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=prometheus

# Auto-Restart the container after a crash.
Restart=always

[Install]
WantedBy=docker.service
{% endraw %}
