route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email'
receivers:
  - name: 'email'
    email_configs:
    - to: '{{ mail_to }}'
      from: '{{ mail_from }}'
      smarthost: '{{ mail_server }}':587
      auth_username: '{{ mail_user  }}'
      auth_identity: '{{ mail_identity }}'
      auth_password: '{{ mail_password }}'
    
  - name: 'web.hook'
    webhook_configs:
      - url: 'http://127.0.0.1:5001/'
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
