{% raw %}
[Unit]
Description=Elasticsearch service with Docker
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]

# Compose up
ExecStart=docker run -p9200:9200 --net=mnetwork1 --ip="192.168.200.10" -v "/root/persistense/elastic:/bitnami/elasticsearch/data" bitnami/elasticsearch

# Compose down, remove containers
ExecStop=docker ps -q  --filter ancestor=bitnami/elasticsearch --format="{{.ID}}" | sudo xargs docker stop

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=elasticsearch

# Auto-Restart the container after a crash.
Restart=always

[Install]
WantedBy=docker.service
{% endraw %}
