# Config for Skillbox project 

<source>
  @type  forward
  @id    input1
  @label @mainstream
  port  24224
</source>

<filter **>
  @type stdout
</filter>

<label @mainstream>
  <match **>
    @type elasticsearch
    host 192.168.200.10
    port 9200
    logstash_format true
  </match>
  
#  <match docker.**>
#    @type file
#    @id   output_docker1
#    path         /opt/bitnami/fluentd/logs/docker.*.log
#    symlink_path /opt/bitnami/fluentd/logs/docker.log
#    append       true
#    time_slice_format %Y%m%d
#    time_slice_wait   1m
#    time_format       %Y%m%dT%H%M%S%z
#  </match>
#  <match **>
#    @type file
#    @id   output1
#    path         /opt/bitnami/fluentd/logs/data.*.log
#    symlink_path /opt/bitnami/fluentd/logs/data.log
#    append       true
#    time_slice_format %Y%m%d
#    time_slice_wait   10m
#    time_format       %Y%m%dT%H%M%S%z
#  </match>
</label>

# Include config files in the ./config.d directory