{% raw %}
[Unit]
Description=Fluentd service with Docker
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]

# Compose up
ExecStart=sudo docker run -p 24224:24224 -p 24224:24224/udp --net=mnetwork1 --ip="192.168.200.12" -v "/root/persistense/fluentd:/opt/bitnami/fluentd/logs" -v "/root/persistense/fluentd.conf:/opt/bitnami/fluentd/conf/fluentd.conf" bitnami/fluentd

# Compose down, remove containers
ExecStop=sudo docker ps -q  --filter ancestor=bitnami/fluentd --format="{{.ID}}" | sudo xargs docker stop

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=fluentd

# Auto-Restart the container after a crash.
Restart=always

[Install]
WantedBy=docker.service
{% endraw %}
