{% raw %}
[Unit]
Description=Grafana service with Docker
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]

# Compose up
ExecStart=docker run -p3000:3000 -v "/root/persistense/grafana_provision:/etc/grafana/provisioning/dashboards" -v "/root/persistense/grafana:/var/lib/grafana" -v "/root/grafana.ini:/etc/grafana/grafana.ini" --net=mnetwork1 --ip="192.168.200.10" grafana/grafana-oss

# Compose down, remove containers
ExecStop=docker ps -q  --filter ancestor=grafana/grafana-oss --format="{{.ID}}" | sudo xargs docker stop

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=grafana

# Auto-Restart the container after a crash.
Restart=always

[Install]
WantedBy=docker.service
{% endraw %}
