{% raw %}
[Unit]
Description=Kibana service with Docker
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]

# Compose up
ExecStart=docker run -p5601:5601 -v "/root/persistense/kibana:/bitnami/kibana" --net=mnetwork1 --ip="192.168.200.11" -e KIBANA_ELASTICSEARCH_URL="http://192.168.200.10" -e KIBANA_ELASTICSEARCH_PORT_NUMBER=9200 bitnami/kibana

# Compose down, remove containers
ExecStop=docker ps -q  --filter ancestor=bitnami/kibana --format="{{.ID}}" | sudo xargs docker stop

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=kibana

# Auto-Restart the container after a crash.
Restart=always

[Install]
WantedBy=docker.service
{% endraw %}
