{% raw %}
[Unit]
Description=Prometheus service with Docker
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]

# Compose up
ExecStart=docker run -p9090:9090 --net=mnetwork1 --ip="192.168.200.11" -v "/root/prometheus.yml:/etc/prometheus/prometheus.yml" -v "/root/alert.rules.yml:/etc/prometheus/alert.rules.yml" -v "/root/test_infra.yaml:/etc/prometheus/test_infra.yaml" -v "/root/prod_infra.yaml:/etc/prometheus/prod_infra.yaml" ubuntu/prometheus

# Compose down, remove containers
ExecStop=docker ps -q  --filter ancestor=ubuntu/prometheus --format="{{.ID}}" | sudo xargs docker stop

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=prometheus

# Auto-Restart the container after a crash.
Restart=always

[Install]
WantedBy=docker.service
{% endraw %}
