# Default SSL certificate enabled website
server {
		listen 443 default_server ssl;		
	
		# Enable SSL connection
		error_page 497 https://$host$request_uri;
		
		keepalive_timeout	70;
        keepalive_requests	150;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
        # seclevel for TLS 1.0 and 1.1
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";
        
        ssl_session_cache	shared:SSL:10m;
        ssl_session_timeout	10m;
		
		server_name_in_redirect	off;

		proxy_set_header	X-Forwarded-For	$proxy_add_x_forwarded_for;

		access_log /var/log/nginx/ssl_access.log;
		error_log  /var/log/nginx/ssl_error.log;

		rewrite ^(.*)$ https://{{ monitoring_domain }}$1 permanent;

	ssl_certificate /etc/ssl/certs/ssl-cert-snakeoil.pem;
	ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;

}
