[Unit]
Description=Skillbox service with Docker, build: {{ansible_date_time.date}}
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]

WorkingDirectory=/home/ubuntu

# Compose up
ExecStart=docker run -p8080:8080 --log-driver=fluentd --log-opt fluentd-address={{ fluentd_address }}:{{ fluentd_port }} --log-opt tag=instance_{{ inventory_hostname }} skillbox/app

{% raw %}
# Compose down, remove containers
ExecStop=docker ps -q  --filter ancestor=skillbox/app --format="{{.ID}}" | sudo xargs docker stop

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=skillboxapp

# Auto-Restart the container after a crash.
Restart=always

[Install]
WantedBy=docker.service
{% endraw %}
